// Helvetica font

@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helvetica/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helvetica/Helvetica-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helvetica/Helvetica-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helvetica/helvetica-light-587ebe5a59211.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helvetica/helvetica-compressed-5871d14b6903a.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-rounded';
    src: url('@/assets/fonts/helvetica/helvetica-rounded-bold-5871d05ead8de.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}