.service {
    max-width: var(--dls-max-width);
    margin: 0 auto;
    line-height: 1.5;
    padding: 32px 0;

    h2 {
        text-align: center;
        color: var(--dls-third-color);
    }

    h3 {
        color: var(--dls-primary-color);
    }

    table, td, th {
        border: 1px solid;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        td, th {
            padding: 2px 4px;
        }

        td:first-child {
            font-weight: 600;
        }
    }

    ol {
        li {
            font-weight: 600;
        }

        ul {
            li {
                font-weight: normal;
            }
        }
    }

    &--images-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding: 16px 0;

        img {
            width: 290px;
            height: auto;
            border-radius: 8px;
        }
    }
}